<img class="tool" src="../../../assets/icons/Transparent Logo.png" alt="maestro4edu">
<div class="login" (click)="login()">
    <img class="toolGoogle" src="../../../assets/icons/g-logo.png" alt="Login Google">
    <div class="texto">
        Continuar com Google
    </div>
</div>
<br />
<div class="center">
    Acesso para responsáveis dos alunos.<br />
    Entre com o e-mail cadastrado e solicite o link de acesso.<br />
    <input [(ngModel)]="emailLink" type="text"><input type="button" value="Enviar link de acesso" (click)="linkAccess()">
</div>

