<mat-sidenav-container *ngIf="isAutenticado; else loginBlock" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" [opened]="sideMenuOpen">
    <mat-toolbar>
      <img class="tool" src="../assets/icons/maestro4edu_logo80.png" alt="maestro4edu">
    </mat-toolbar>
    <mat-nav-list *ngIf="showNavegacao">
      <a mat-list-item routerLink="inicial" (click)="drawer.close()">
        <mat-icon aria-label="side nav toggle ico">home</mat-icon>Início
      </a>
<!--      <a mat-list-item routerLink="mapa-estudante-show" (click)="drawer.close()">
        <mat-icon aria-label="side nav toggle ico">description</mat-icon>Mapa
      </a>-->
      <a *ngFor="let menu of menus" mat-list-item routerLink="/{{menu.routerLink}}" (click)="drawer.close()">
        <mat-icon aria-label="Side nav toggle icon">{{menu.icone}}</mat-icon>{{menu.texto}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" style="background-color: transparent; border: none; cursor: pointer;">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>{{ escola }}</div>
      <div>{{ nome }}</div>
      <div *ngIf="showNavegacao">
        <span class="menu-ano" [matMenuTriggerFor]="menuAnos">{{anoLetivo}}</span>
        <mat-menu #menuAnos="matMenu" >
          <button *ngFor="let ano of anosLetivos" mat-menu-item (click)="mudarAno(ano.ano)">{{ano.ano}}</button>
        </mat-menu>
      </div>
      <div>
        <img class="user-avatar" [src]="photoURL" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <!--<button mat-menu-item>Perfil</button>-->
          <button mat-menu-item (click)="logout()">Sair</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #loginBlock>
  <app-logon></app-logon>
</ng-template>
